@font-face {
    font-family: 'norsebold';
    src: url('assets/fonts/norse-bold-webfont.woff') format('woff2'),
         url('assets/fonts/norse-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}

.first_div{
    background-color: aqua;
    width: 30%;
    background-image: url('assets/image/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second_div{
    background-color: rgb(255, 0, 60);
    width: 70%;
}

.first_div, .second_div{
    height: 100vh;
}

.img_side_bar{
    margin-top: 100px;
    display: flex;
    background: no-repeat rgb(24, 24, 24, 0.5);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'norsebold';

}

.credit{
    margin-bottom: 20px;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}





.credit a {
    color: inherit;
    margin: 0 4px; /* Adjust the margin as needed */
}
.underline{
    text-decoration: underline;

}


.second_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}