@font-face {
    font-family: 'norsebold';
    src: url('assets/fonts/norse-bold-webfont.woff') format('woff2'),
         url('assets/fonts/norse-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;


}

.first_div{
    background-color: aqua;
    width: 40%;
    background-image: url('assets/image/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.second_div{
    
    width: 60%;
}

.first_div, .second_div{
    /* height: 100vh; */
}

.img_side_bar{
    margin-top: 100px;
    display: flex;
    background: no-repeat rgb(24, 24, 24, 0.5);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'norsebold';
   
}

.credit{
    margin-bottom: 20px;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}





.credit a {
    color: inherit;
    margin: 0 4px; /* Adjust the margin as needed */
}
.underline{
    text-decoration: underline;

}


.second_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    
}

/* .item{
    flex: 1;
} */

/* .first_section, .second_section, .third_section{
    flex: 1;
} */
.first_section{
    background-color: #f9fafc;
    height: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.first_text{
    font-size: medium;
    /* letter-spacing: -0.15em; */
    padding: 20px;
    font-weight: bold;
}

.space{
    margin: 20px 0 ;
}




.sub-section{

    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 15px;

}

.second_section{
    padding: 20px;
    height: 150px;
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    height: 150px;
    /* gap:20px; */
 
}

form *{
    flex-shrink: 1;
}

.second_section *{

}
.form_header{
    font-size: large;
    font-weight: bold;
}
.flx_row{
    display: flex;
    gap: 50px;

}

.flx{
    display: flex;
    flex-direction: column;
}


input{
    font-family: inherit;
    font-size: 100%;
    padding: 0;
  margin: 0;
  border: 1px solid #E5E7EB;

}

label{
    font-size: 14px;
    font-weight: bold;
}

#create_account{
    background-color: #596D48;
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    border: none;

}

.link{
    text-decoration: none;
    color: green;
    font-weight: 600;
}
:focus{
    outline: 0;
}
input:invalid{
    background-color: transparent;
    border: 1px solid #b92326;
}

input:focus{
    border: 1px solid #330eea;

}

input[type='password']:invalid{
    background-color: transparent;
    border: 1px solid #b92326;

}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
  }

  /* Show error message when the input is invalid */
  input:invalid + .error-message {
    display: block;
  }

  .third_section{
    background-color: #f9fafc;
    padding: 30px 0px 0px 20px;
    margin-top: 10px;
    height: 200px;

    /* border-top: 1px solid rgb(26, 23, 23); */
    box-shadow:  inset 0px 4px 3px rgba(193, 179, 179, 0.75);
    
    
}

