*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: aliceblue;
}
#app-main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#app-sub-container{
    background-color: #25313d;
    border: 1rem ridge white;
    border-radius: 20px;
    padding:10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}

button{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    color: white;
    background-color: #505050;
    outline: none;
    border:none;
    margin: 3px;
    font-size: 15px;
    font-weight: bold;
}


#display
{
    color: beige;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
    border-bottom: white;
} 

.ui-container{
    display: flex;
    
 
}

#equal-button{
    height: 120px;
    margin-left:8px;
    border-radius: 34px;


}

.yellow{
    background-color: #ff9500;
}

.grey{
    background-color: #cecfcf;
}