*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: aliceblue;
}
#app-main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#app-sub-container{
    background-color: black;
    border-radius: 20px;
    padding:20px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#app-sub-container .app-container{
   
}

#buttons{
    display: flex;
    flex-direction: column;
    flex-grow: 4;


    /* gap: 20px; */
}

#buttons .row button{
    flex:1;
  
}

/* .row {
    display: flex;
    flex:1;
    gap: 10px;
    
} */

/* .row button{
    flex:1;
    gap: 10px;

} */

/* .row >button{
    display: flex;
    gap: 10px;
} */



.sub-row {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    flex: 1;
}

 button{
    flex: 1 1 60px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: red;
    
}

.sub-row-con{
    display: flex;
    gap:0;
    flex-grow: 3;
}

/* .sub-row-con button{
    flex: 1;
} */

/* .row-3{
    flex:1;
} */

.equal-container{
    flex-grow: 3;
}

#display
{
    color: beige;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
} 

.ui-container{
    display: flex;
    flex:1;
    gap: 10px;
 
}



/* .sub-container{
    display: flex;
    flex-direction: column;

}
.sub-container-3{
    display: flex;
    gap: 10px
}

#buttons .row{
    display: flex;
    gap: 20px;
}

#buttons div{
    flex: 1 1 auto;
}

button{
    padding: 10px 20px;
    
}

#equal{
    height: 70px;
    border-radius: 20px;
    align-self: flex-end;
}

#equal-container{
    display: flex;
    justify-content: end;
}

